.orbit {
  transform: translate(-50%, -50%);
  animation: orbit 2.5s linear infinite;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}
